body {
  max-width: 500px;
  margin: 3% auto;
  padding: 2% 2%;
  border: black solid;
  font-size: 18px;
}

.header {
  display: inline-block;
  width: 100%;
  font-size: 1.5em;
}

h3{
  text-align: center;
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 0%;
}

.header-title {
  color: blue;
}

ul {
  list-style: none;
  padding: 0 !important;
}